.x3 {
  color: var(--accentcolor);
}
.myfastx3 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
  white-space: nowrap;
  color: inherit;
}
.download-2-icon3 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: cover;
}
.partner3 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 38px;
}
.myfastx-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sign-in {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 43px;
  background-color: var(--basedark);
  border-radius: var(--br-6xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button:hover {
  background-color: var(--color-darkslategray);
}
.sign-in1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 31px;
}
.button-parent,
.button1 {
  display: flex;
  flex-direction: row;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 49px;
  background-color: var(--basedark);
  border-radius: var(--br-6xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.button-parent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent12,
.landing-child {
  position: absolute;
  box-sizing: border-box;
}
.frame-parent12 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lg) 157px;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--basedark);
  font-family: var(--font-poppins);
}
.landing-child {
  top: 804px;
  left: 201px;
  border-right: 2px dashed var(--color-mintcream-100);
  width: 2px;
  height: 407px;
}
.httpslottiefilescomanimat-icon {
  height: 219px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.illustration-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 var(--padding-base);
}
.welcome-to-myfast {
  color: var(--basedark);
}
.welcome-to-myfastx-partner {
  margin: 0;
}
.welcome-to-myfastx-container {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.at-myfastx-we {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.at-myfastx-we-are-revolutioni-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray-100);
}
.main-content,
.welcome-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.welcome-message-container {
  align-self: stretch;
  gap: 11px;
}
.main-content {
  width: 396px;
  border-radius: var(--br-smi);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-shrink: 0;
  padding: 45px 35px var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-28xl);
  min-width: 396px;
}
.placeholder-icon {
  margin-left: -173px;
  width: 1038px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  max-width: 158%;
  flex-shrink: 0;
}
.drive-your-success,
.join-us-as {
  position: relative;
  font-weight: 600;
}
.join-us-as {
  margin: 0;
  font-size: var(--font-size-xl);
  font-family: inherit;
  color: var(--color-black);
}
.are-you-a-vehicle-owner-lookin-wrapper,
.heading-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-container {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.are-you-a-vehicle-owner-lookin-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-dimgray-100);
}
.sign-in2 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
}
.button2,
.call-to-action,
.driver-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--basedark);
  border-radius: var(--br-6xs);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.call-to-action,
.driver-content {
  align-self: stretch;
  flex-direction: column;
  gap: 7px;
  max-width: 100%;
}
.driver-content {
  border-radius: var(--br-smi);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  padding: 0 25px 30px var(--padding-8xl);
  box-sizing: border-box;
  gap: 21px;
}
.transaction-icon {
  width: 44px;
  height: 44px;
  position: relative;
  object-fit: cover;
}
.span {
  color: var(--color-black);
}
.reliable-income {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.benefit-subtitles {
  width: 129px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.benefit-descriptions,
.benefit-items,
.benefit-subtitles {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefit-descriptions {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.benefit-items {
  flex: 1;
  background-color: var(--lightgreen);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-smi) var(--padding-xs) var(--padding-3xl);
  box-sizing: border-box;
  gap: 4.5px;
  min-width: 151px;
  max-width: 165px;
}
.choose-your-working,
.flexible-schedule {
  width: 123px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.choose-your-working {
  width: 137px;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.benefit-items1,
.benefit-items3,
.benefit-items2 {
  flex: 1;
  background-color: var(--lightgreen);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-8xs);
  min-width: 151px;
  max-width: 165px;
}
.benefit-items2 {
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-4xl);
}
.growth-opportuninies {
  position: relative;
  font-weight: 500;
}
.benefit-items-parent {
  align-self: stretch;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 17.7px;
}
.content-container,
.driver-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.driver-content-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
  min-width: 463px;
  text-align: left;
  font-size: var(--font-size-xs);
}
.content-container {
  width: 1146px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 17px;
}
.chip-content {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.chip {
  width: 98px;
  background-color: var(--color-whitesmoke-300);
  border-left: 2px solid var(--accentcolor);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs);
  white-space: nowrap;
}
.section-heading1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
}
.section-heading-child {
  width: 160px;
  height: 3px;
  position: relative;
  background-color: var(--accentcolor);
  flex-shrink: 0;
}
.section-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.add-user-male {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.icon-placeholders {
  height: 38px;
  width: 38px;
  position: relative;
  border-radius: var(--br-36xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
}
.icon-containers,
.nested-icon-containers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nested-icon-containers {
  width: 50px;
  height: 50px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px dashed var(--accentcolor);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-8xs);
  z-index: 1;
}
.icon-containers {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.step-dividers-child {
  width: 41px;
  height: 2px;
  position: relative;
  border-top: 2px dashed var(--color-mintcream-100);
  box-sizing: border-box;
}
.step-dividers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) 0 0;
}
.register-online {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 93px;
}
.fill-out-our {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  color: var(--color-black);
}
.step-descriptions,
.step-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.step-descriptions {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-10xs);
  min-width: 248px;
  z-index: 1;
}
.step-icons {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xs-5);
}
.verified-account-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.get-verified {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
}
.step-icons-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.start-driving {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 76px;
}
.step-illustrations {
  flex: 1;
  flex-direction: column;
  gap: 59px;
}
.registration-content,
.registration-steps,
.step-illustrations {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.registration-steps {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-lgi);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--accentcolor);
  font-family: var(--font-poppins);
}
.registration-content {
  width: 493px;
  flex-direction: column;
  gap: 72px;
  min-width: 493px;
}
.httpslottiefilescomanimat-icon1 {
  align-self: stretch;
  height: 407px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.vehicle-illustration {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  min-width: 371px;
  max-width: 100%;
}
.registration-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 103px;
  max-width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--basedark);
  font-family: var(--font-rubik);
}
.chip-parent,
.content-container-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.chip-parent {
  align-self: stretch;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.content-container-parent {
  position: absolute;
  top: 90px;
  left: 157px;
  width: 1167px;
  gap: 84px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--accentcolor);
  font-family: var(--font-poppins);
}
.line-icon,
.objects-icon {
  position: absolute;
  top: 0;
  left: 184.8px;
  width: 174.2px;
  height: 68.1px;
  object-fit: contain;
}
.line-icon {
  top: 65.2px;
  left: 0;
  width: 1120.5px;
  height: 193.6px;
  z-index: 2;
}
.landing-item,
.objects-parent {
  position: absolute;
  top: 1654px;
  left: 160.2px;
  width: 1120.5px;
  height: 258.8px;
}
.landing-item {
  top: 2698px;
  left: 0;
  background-color: var(--basedark);
  width: 1440px;
  height: 579px;
  overflow: hidden;
  display: none;
}
.chip1,
.section-heading2,
.testimonial-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chip1 {
  background-color: var(--color-whitesmoke-300);
  border-left: 2px solid var(--accentcolor);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-4xs);
  white-space: nowrap;
}
.section-heading2,
.testimonial-header {
  flex-direction: column;
}
.section-heading2 {
  height: 38px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
  font-size: var(--font-size-13xl);
  color: var(--basedark);
  font-family: var(--font-rubik);
}
.testimonial-header {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-mini);
}
.at-myfastx-our {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-rubik);
  color: var(--color-dimgray-200);
}
.testimonial-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: 43px;
}
.empty-container-icon {
  height: 92px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.chip2,
.empty-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.empty-container-wrapper {
  width: 197px;
  padding: 0 var(--padding-11xs) 58px;
  box-sizing: border-box;
}
.chip2 {
  background-color: var(--color-whitesmoke-300);
  border-left: 2px solid var(--accentcolor);
  padding: var(--padding-10xs) var(--padding-4xs);
  white-space: nowrap;
  z-index: 3;
}
.title-divider {
  width: 180px;
  height: 3px;
  position: relative;
  background-color: var(--accentcolor);
  flex-shrink: 0;
}
.section-heading4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-7xs);
  z-index: 3;
  font-size: var(--font-size-13xl);
  color: var(--basedark);
  font-family: var(--font-rubik);
}
.opportunity-content,
.opportunity-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.opportunity-content {
  flex-direction: column;
  gap: var(--gap-mini);
}
.opportunity-content-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.dont-miss-out-container {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.sign-in3 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-rubik);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 75px;
}
.button3,
.opportunity-call-to-action,
.sign-in-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-8xl);
  background-color: var(--basedark);
  border-radius: var(--br-6xs);
  overflow: hidden;
  white-space: nowrap;
}
.opportunity-call-to-action,
.sign-in-button-container {
  padding: 0 var(--padding-10xs);
}
.opportunity-call-to-action {
  width: 484px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 30px;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-rubik);
}
.phone-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.detail-items {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--accentcolor);
  overflow: hidden;
  flex-shrink: 0;
}
.xxxxx-xxxxx {
  position: relative;
  line-height: 24px;
}
.contact-values,
.details-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-values {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.details-container {
  flex-direction: row;
  gap: var(--gap-xs);
}
.supportmyfastxcom {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.contact-details,
.for-more-information-contact-parent,
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-details {
  gap: var(--gap-xl);
}
.for-more-information-contact-parent,
.testimonial-content {
  max-width: 100%;
}
.for-more-information-contact-parent {
  width: 484px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 27px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-rubik);
}
.testimonial-content {
  width: 520px;
  gap: 54px;
}
.testimonial-divider-child {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid #b4b4b4;
  box-sizing: border-box;
  z-index: 3;
}
.testimonial-divider {
  height: 1087px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 553px 39px 0 0;
  box-sizing: border-box;
}
.avataar-1-icon {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.james-darwin,
.kolkata-west-bengal {
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
}
.james-darwin {
  font-weight: 500;
  min-width: 111px;
}
.kolkata-west-bengal {
  margin-top: -1px;
  min-width: 125px;
}
.location {
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-smi);
}
.name-location {
  flex-direction: column;
}
.driver-info,
.name-location,
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile {
  flex-direction: column;
  padding: 7px 0 0;
}
.driver-info {
  flex-direction: row;
  gap: var(--gap-lg);
}
.joining-myfastx-has {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.star-icon {
  height: 22px;
  width: 22px;
  position: relative;
  object-fit: cover;
  min-height: 22px;
}
.separator,
.separator1 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: var(--br-4xl);
  background-color: var(--accentcolor);
  flex-shrink: 0;
}
.separator1 {
  background-color: var(--color-gainsboro-200);
}
.separator-row,
.stars {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.separator-row {
  align-self: stretch;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-xl);
  gap: var(--gap-xs);
}
.stars {
  width: 148px;
  flex-direction: column;
  gap: 38px;
}
.placeholder-icon1 {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: var(--br-40xl);
  overflow: hidden;
  flex-shrink: 0;
}
.footer-content1,
.footer1 {
  display: flex;
  align-items: flex-start;
}
.footer-content1 {
  align-self: stretch;
  height: 27px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 13px;
}
.footer1 {
  width: 67px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rating {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.testimonial {
  width: 439px;
  gap: 19px;
  max-width: 100%;
  color: var(--color-dimgray-200);
}
.f-a-q-header,
.section-heading6,
.testimonial,
.testimonial-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-body-container {
  border-radius: 15px;
  background-color: var(--lightgreen);
  overflow: hidden;
  padding: var(--padding-17xl) var(--padding-22xl);
  box-sizing: border-box;
  gap: 28px;
  max-width: 100%;
}
.f-a-q-header,
.section-heading6 {
  align-self: stretch;
}
.section-heading6 {
  padding: 0;
  gap: var(--gap-7xs);
  font-size: var(--font-size-13xl);
  color: var(--basedark);
  font-family: var(--font-rubik);
}
.f-a-q-header {
  gap: var(--gap-mini);
}
.placeholder-row-icon {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.answer-placeholder,
.questions-row,
.questions-row1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.questions-row,
.questions-row1 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-300);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-4xs)
    var(--padding-lg);
  gap: var(--gap-xl);
}
.questions-row1 {
  background-color: transparent;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.how-do-i {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 112px;
}
.questions-container {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  background-color: #fcfcfc;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.f-a-q,
.questions-container,
.testimonial-container {
  align-self: stretch;
  flex-direction: column;
}
.f-a-q {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 55px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
}
.testimonial-container {
  gap: 319px;
}
.driver-testimonial,
.testimonial-container,
.testimonial-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.driver-testimonial {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 352px;
  font-size: var(--font-size-base);
  font-family: var(--font-rubik);
}
.testimonial-content-parent {
  position: absolute;
  top: 1359px;
  left: 157px;
  width: 1137px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.screenshot-2024-06-22-181334-1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.som{
  display:none;
}
.bars{
  display:none;
}
.mobile-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 406px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.drive-your-success1 {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.slogan {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.join-us-as1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: inherit;
  color: var(--color-black);
  z-index: 2;
}
.mobile-heading,
.mobile-heading-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.mobile-heading {
  width: 427px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.mobile-heading-wrapper {
  width: 661px;
  flex-direction: row;
  justify-content: center;
}
.are-you-a-container1 {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.description {
  width: 661px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  color: var(--color-dimgray-100);
}
.button-container,
.button4,
.description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-base);
  background-color: var(--basedark);
  border-radius: var(--br-6xs);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.button-container {
  width: 661px;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.mobile,
.mobile-content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.mobile-content {
  flex: 0.9715;
  background-color: var(--lightgreen);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 84px var(--padding-xl) 107px var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  z-index: 1;
  margin-left: -1440px;
}
.mobile {
  position: absolute;
  top: 2535px;
  left: 0;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--accentcolor);
  font-family: var(--font-poppins);
}
.landing {
  width: 100%;
  height: 3475px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
    height: 700vh; /* Example value to increase the height. Adjust as needed. */
  }
  .bars {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .bar {
    width: 24px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
  }
  .main-content{
    margin-left:-170px;
  }
  .driver-content-parent{
    margin-top: 550px;
    margin-left:-390px;
  }
  .benefit-items{
    margin-left:-100px;
  }
  .benefit-items2{
    margin-top:170px;
    margin-left: -366px;
  }
  .benefit-items3{
    margin-top:170px;
  }
  .chip1{
    margin-top: 500px;
  }
  .testimonial-content-parent{
    margin-left:-100px;
  }
  .testimonial-content{
    margin-top:120px;
    margin-left: -40px;
  }
  .chip{
    margin-left:-135px;
  }
  .section-heading{
    margin-left:-135px;
    font-size: 0.675em; /* Makes the text 87.5% of the parent's font size */
    font-weight: 500;
    font-family: inherit;
    
  }
  .registration-steps{
    margin-left:-150px;
  }
.step-descriptions{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 50%;
  margin-left:-20px;
}
 .objects-icon,
 .line-icon,

  .empty-container-icon{
    display: none;
  }
  .driver-testimonial{
    margin-left:-100px;
    margin-top:-1550px;
    width:150px;
    /* display:none; */
  }
  .at-myfastx-our{
    display:none;
    
  }
  
  .f-a-q{
    margin-left:-10px;
    margin-top:-700px;
    /* display:none; */
  }
  .opportunity-content{
    margin-top:950px;
  }
  .som{
    margin-top: 500px;
  }
  .mobile-image{
    display:none;
  }
  .button1{
    display:none;
  }
  .button-parent{
    display:none;
  }
 
  
}

